{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <div class="mb-3 d-flex flex-wrap gap-2">
    <div>
      <i class="bi bi-calendar"></i>
      {{ partial "date-fmt.html" .}}
    </div>
    {{if .GetTerms "tags"}}
    <div>
      <i class="bi bi-tag"></i>
      {{ range (.GetTerms "tags") }}
      <a
        class="badge text-bg-light text-decoration-none"
        href="{{ .Permalink }}"
      >
        {{ .LinkTitle }}
      </a>
      {{end}}
    </div>
    {{end}}
  </div>

  <div id="content">{{partial "text-processing.html" . }}</div>
</article>

{{ end }}
