.DS_Store
public
resources
.idea
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap

# Node

node_modules/

# Notes

content/garden/00*
content/garden/10*
content/garden/.*
content/garden/30*
content/garden/40*
content/garden/50*
content/garden/60*/600*
content/garden/Betania*
content/garden/Letters
content/garden/Rhema
content/garden/The-Bible-HOF
content/garden/work
content/garden/Filme.md
content/garden/Kanban*.md
content/garden/Tags*.md
content/garden/TODOS.md
content/garden/When*.md
content/garden/Jugend.md
content/guide/*

# Logs
*.log

