<head>
  <!-- Build with ❤️ by Darius Kletter  -->
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }} {{ block
  "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}

  <!-- Meta tag to verify ownership of my site -->
  <meta
    name="google-site-verification"
    content="NsM0sa3vBho3Sp37hHVsyh15DuHWz4oDy4dyZqWCidY"
  />

  <!-- favicon -->
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌳</text></svg>"
  />
</head>
