@import "./mvp.css";

/* Broken internal-link link */

.broken {
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
  background-color: transparent;
}

/* Style the list */
ul.breadcrumb {
  list-style: none;
  padding: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  content: "/\00a0";
}
