@import "./mvp.css";

/* Breadcrumb */

nav.breadcrumb {
  display: unset;
  font-weight: normal;
  margin-bottom: 0rem;
}

ol.breadcrumb {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0px;
  list-style: none;
}

.breadcrumb-item {
  display: inline;
}

.breadcrumb-item + li:before {
  content: "/\00a0";
}

.badge {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
}
