@import "./mvp.css";

/* Broken internal-link link */

.broken {
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
  background-color: transparent;
}

/* Style the list */
ul.breadcrumb {
  list-style: none;
  padding: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  content: "/\00a0";
}

/* Flex */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-normal);
  gap: 1rem;
}

.justify-important {
  justify-content: var(--justify-important);
}

/* Tags */
.tag::before {
  content: "#";
}

.profile-picture {
  width: 200px;
  height: 200px;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 50%;
}

.small-space {
  margin: 0.5rem 0;
}

/* Code style */
.lntd {
  text-align: var(--justify-normal);
}

.favicon-button-gird button {
  background-color: var(--color-bg);
}
