<footer class="p-3 mt-5 border-top text-center">
  <button class="confetti-button btn btn-primary mb-3">
    Shoot confetti 🎉
  </button>

  <p>Made with ❤️ by Darius</p>

  {{/* JavaScript and dependencies */}}
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script src="/js/shoot-confetti.js"></script>
  <script src="/js/theme-toggler.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</footer>
