<head>
  <!-- Build with ❤️ by Darius Kletter  -->
  <title>
    {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} &middot; {{ .Title }} {{ end }}
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ with .Site.Params.name }}
  <meta name="author" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }} {{ with .Site.LanguageCode }}
  <meta http-equiv="content-language" content="{{ . }}" />
  {{ end }}

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/index.css" />
</head>
