<head>
  <!-- Build with ❤️ by Darius Kletter  -->
  <title>
    {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} &middot; {{
    .Title }} {{ end }}
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ with .Site.Params.name }}
  <meta name="author" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }} {{ with .Site.LanguageCode }}
  <meta http-equiv="content-language" content="{{ . }}" />
  {{ end }} {{ template "_internal/opengraph.html" . }}

  <!-- Meta tag to verify ownership of my site -->
  <meta
    name="google-site-verification"
    content="NsM0sa3vBho3Sp37hHVsyh15DuHWz4oDy4dyZqWCidY"
  />

  <!-- stylesheet -->
  {{/*
  <link rel="stylesheet" href="/css/main.css" />
  */}} {{ $style := resources.Get "scss/main.scss" | resources.ToCSS (dict
  "outputStyle" "compressed" ) }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  <!-- favicon -->
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌳</text></svg>"
  />
</head>
