<head>
  <!-- Build with ❤️ by Darius Kletter  -->
  <title>
    {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} &middot; {{
    .Title }} {{ end }}
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ with .Site.Params.name }}
  <meta name="author" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }} {{ with .Site.LanguageCode }}
  <meta http-equiv="content-language" content="{{ . }}" />
  {{ end }}

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/index.css" />

  <!-- favicon -->
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌳</text></svg>"
  />
</head>
