{{ define "main" }}
{{ $image := resources.Get "images/profile-picture.png"}}
<header class="py-5 text-center">
  <div class="text-center mb-4">
    <img
      src="{{ ($image.Resize "200x").RelPermalink }}"
      alt="profile-picture"
      class="img-fluid profile-picture"
    />
  </div>
  <h1 class="display-5 fw-bold text-body-emphasis">{{ .Title }}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">
      My name is <b> Darius </b> and I am a follower of
      <mark> Jesus Christ </mark>
    </p>
  </div>
</header>
<article class="py-5">{{partial "text-processing.html" . }}</article>
<section class="border-top pt-5">
  <h2>Latest posts</h2>
  {{partial "page-list.html" (.Site.RegularPages.ByDate.Reverse | first 5) }}
</section>

{{ end }}
