ol {
  margin-bottom: 0 !important;
}

// theme-toggler.html
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.opacity-95 {
  opacity: 0.95 !important;
}

.mw-43 {
  max-width: 43em;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 50%;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.card-hover {
  transition: 0.3s;
}

.card-hover:hover {
  box-shadow: $box-shadow-lg;
}
